body{
    background-image: url("Road.jpeg");
    background-repeat: no-repeat;
    text-align: center;
}

button{
    background-color: brown;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}